*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.hero{
    background: white;
    width: 80%;
    padding: 40px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 8px 

}
.top{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 60px;
    border-bottom: 2px solid #ddd;
}
.module{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.logo{
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #0000ff;
    border-radius: 8px;
}
.title{
    text-align: center;
    margin-top: 40px;

}
.title h2{
    font-size: 28px;
    font-weight: 600;
}
.title p{
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.members{
    margin-top: 60px;
    border: 2px solid #444;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
    background: #fff;
}
.members h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
.members ol{
    line-height: 1.9;
    font-size: 18px;
}
.foot{
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
.p{
    margin: 5px 0;
    font-size: 16px;
    color: #003366;
    font-weight: 600;
}
.rights{
    color: #999;
    font-size: 0.888rem;
    margin-bottom: 0;
}
@media (max-width: 600px){
    .hero, .foot{width: 95%;}
    h1, h2, h3 {
        text-align: center;
        font-size: 20px;
    }
}

